addr: "127.0.0.1:6379"
password: ""
db: 0
maxRetries: 3
minRetryBackoff: "8ms"
maxRetryBackoff: "512ms"
dialTimeout: "5s"
readTimeout: "3s"
writeTimeout: "3s"
poolSize: 20
minIdleConns: 2
poolTimeout: "4s"
connMaxIdleTime: "10m"
connMaxLifetime: "30m"
