filebeat.inputs:
  - type: log
    enabled: true
    paths:
      - /var/log/containers/*.log
    json.keys_under_root: true
    json.add_error_key: true

processors:
  - add_host_metadata: {}
  - add_cloud_metadata: {}

# Uncomment this section if you prefer Logstash.
#output.logstash:
#  hosts: ["logstash:5044"]

output.elasticsearch:
  hosts: ["http://elasticsearch:9200"]
  index: "fuzoj-logs-%{[env]}-%{+yyyy.MM.dd}"
